/*  your css code here. If applicable */
td{
	padding:1px;
	border:solid 1px;
	border-color:rgb(0,0,0);
	spacing:1px;
}
#table-1{
	border:1px;
	border:solid;
	spacing:1px;
	padding:1px;
	width: 600px
}
#t12{
	text-align: center;
}
#t13{
	text-align:right;
}
#t21{
	width: 600px
}
#table-2,#table-3{
	border:1px;
	border: solid;
	padding:1px;
	spacing:1px;
}
.top{
	background-color:green;
	width: 600px;
}
.bottom{
	background-color:blue;
	width: 600px
}
#t-image{
	text-align: center;
}
